@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-DIGIT.TTF');
}

:root {
    --basic-font: 'Poppins', Arial, Helvetica, sans-serif;
    --calc-font: 'DS-Digital', 'Poppins', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.862);
    font-family: var(--basic-font);
}

.container {
    display: grid;
    grid-template-rows: 40px 80px repeat(5, 60px);
    grid-template-columns: repeat(4, 80px);
    gap: 10px 0px;
    justify-items: center;
    align-items: center;
    background-color: rgb(0, 67, 67);
    padding: 0 20px 20px 20px;
    border: 4px solid rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.507);
    overflow: hidden;
}

.item {
    width: 60px;
    height: 60px;
    color: rgba(255, 255, 255, 0.613);
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.66);
    background-color: rgb(0, 67, 67);
    border: 3px solid rgba(0, 39, 39, 0.251);
    border-radius: 10px;
    box-shadow: -2px -2px 1px 1px rgba(255, 255, 255, 0.256);
    cursor: pointer;
}

.depresso {
    box-shadow: inset -2px -2px 1px 1px rgba(255, 255, 255, 0.256);
}

.shadow {
    grid-area: 1 / 1 / 1 / -1;
    width: 370px;
    height: 40px;
    border-radius: 0 0 30px 30px;
    background-color: rgba(0, 39, 39, 0.382);
    box-shadow: inset -1px -1px 0px 1px rgb(0, 42, 42);
}

#display {
    grid-area: 2 / 1 / 2 / -1;
    width: 320px;
    padding: 5px;
    background-color: rgba(234, 255, 0, 0.834);
    font-family: var(--calc-font);
    text-align: right;
    letter-spacing: 2px;
    font-size: 2.4em;
    box-shadow: inset 1px 1px 4px 1px black;
    outline: none;
}

.act {
    grid-row: 3 / 3;
}

.ops {
    grid-column: 4 / -2;
}

#seven, #eight, #nine {
    grid-row: 4 / 4;
}

#four, #five, #six {
    grid-row: 5 / 5;
}

#one, #two, #tree {
    grid-row: 6 / 6;
}

#pos-neg, #zero, #dot {
    grid-row: 7 / 7;
}

#pos-neg {
    grid-column: 1 / 1;
}

#zero {
    grid-column: 2 / 2;
}

#dot {
    grid-column: 3 / 3;
}

.num {
    color: green;
}
